<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>search</title>
</head>
<body>

<header>
    <h1>
        search form
    </h1>
</header>

<main>

<form action="/search" method="GET" >

<label for="">search for </label>
<input type="text"  name="title" required>


<label for="">TV SERIES</label>
<input type="radio" value="tv" name="radio" required>



<label for="">MOVIES</label>
<input type="radio" value="movie" name="radio" required>


<input type="submit" value="SEARCH">


</form>


</main>
   
</body>
</html>